<div class="row">
	<div class="header col-xs-12">
		<h1>Share your thoughts with Comment On It!</h1>
	</div>
	<div class="imageHeader col-xs-12">	
		<img src="/images/three-speech-bubbles.png">
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<button type="submit" id="submit" class="btn btn-lg btn-info">Get news<div>
			</div>
		</div>
		<div class="row">
			<div class="well articles">
			</div>
		</div>
	</div>
</div>